VITE_SPOTIFY_CLIENT_ID=32kdsa3ljldsnn321
VITE_SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000
LASTFM_API_KEY=53lsadsdqq321fddsawewewea
MONGODB_USER=thebest7192
MONGODB_PASSWORD=db_password
MONGODB_HOST=cluster0.gxyi6cx.mongodb.net
MONGODB_CLIENT_NAME=Cluster0
MONGODB_DB=tierlists
JWT_SECRET=jwt_secret_here_minimum_32_long
VITE_API_BASE_URL=
VITE_BACKEND_TIMEOUT_MS=25000
USER_AGENT=TuneTier (https://github.com/THEBEST7192/spotify-tierlist)